# API Base URL pointing to the central gateway
VITE_API_BASE_URL=http://localhost:8080

# Third-Party National Identity Verification API Configuration
VITE_CCCD_API_URL=https://api-check-cccd.lorafilm.xyz/api/cccd/check
VITE_CCCD_API_KEY=